
.sidebar {
  width: 500px; 
  background-color: #fff;
  padding: 25px 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000; 
}

/* Tablets (portrait) / Large Phones (Sidebar is hidden by layout.module.css at this breakpoint) */
@media (max-width: 768px) {
  .sideBar {
      width: 100%;
      height: auto; 
  }
}

/* Small Phones */
@media (max-width: 576px) {
  /* styles for small screen */
}

.logoSection {
  text-align: center;
  margin-bottom: 20px; 
}

.logo {
  font-size: 2rem; 
  font-weight: bold;
  color: #333;
  margin: 0; 
}

.modernDashboard {
  font-size: 0.8rem;
  color: #777;
  margin-top: 5px;
}


.nav {
  flex-grow: 1; 
  margin-top: 3rem;
}

.navList {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.navItem {
  margin-bottom: 8px; 
}

.navLink {
  display: flex; 
  align-items: center; 
  padding: 10px 15px; 
  text-decoration: none; 
  color: #555; 
  font-weight: 500; 
  border-radius: 8px; 
  transition: background-color 0.2s ease, color 0.2s ease; 
}

.navLink:hover {
  background-color: #e0e5ea; 
  color: #333; 
}

/* Active state (for the currently selected dashboard item) */
.navLink.active {
  background-color: #007bff; 
  color: #fff; 
}

.navIcon {
  margin-right: 10px; 
  font-size: 1.2rem; 
}
